@keyframes moveInRight {
  0% {
    transform: translate(-10rem);
    opacity: 0;
  }
  80% {
    transform: translate(1rem);
  }
  100% {
    transform: translate(0px);
    opacity: 1;
  }
}

@keyframes moveInLeft {
  0% {
    transform: translate(10rem);
    opacity: 0;
  }
  80% {
    transform: translate(-1rem);
  }
  100% {
    transform: translate(0px);
    opacity: 1;
  }
}

@keyframes moveInBottom {
  0% {
    transform: translateY(3rem);
    opacity: 0;
  }

  100% {
    transform: translate(0px);
    opacity: 1;
  }
}
